.work-content-container{
    padding: 20px 0 30px 0;
    background-color: rgb(135, 181, 172);
    .work-num-container{
        display: flex;
        flex-direction: row;
        height: 30px;
        margin: 0 0 20px 0;
        .work-num-item{
            font-size: 30px;
        }
    }

    .work-detail-table{
        margin: 20px 0;
        direction: rtl;
        *{font-size: 18px;}
    }
    //
    //.work-ranking-container{
    //    display: flex;
    //    flex-direction: row;
    //    align-items: flex-start;
    //    height: 30px;
    //    margin:  10px 0;
    //    .star-rating{
    //    margin: 5px 0;
    //    direction: rtl;
    //    }
    //}
    .work-ranking-container {
        /* display: flex;        Remove this */
        /* flex-direction: row;  Remove this */
        /* align-items: flex-start; Remove this */
        /* height: 30px;        Remove this */
        margin:  10px 0;
        .star-rating{
            margin: 5px 0;
            direction: rtl;
        }
    }
    .work-item-sub-title{
        font-size: 30px;
        font-weight: 400;
        text-decoration: underline;
        margin: 0 0 0 20px;
    }
}
